{% extends "base.html" %}

{% block title %}
Check - {{ super() }}
{% endblock %}


{% block content %}
      <form class="form-example" action="" method="post">
        {% if res.error %}
        <div class="alert alert-danger" role="alert">
          {{res.error}} kamu udah ngisi <a href="https://forms.gle/P37zGgKJgKocBVZy5" target="_blank">form ini</a>
          belum?
        </div>
        {% else %}
        <h5>TA Track Priority:</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Track</th>
              <th>Recommendation Percentage</th>
            </tr>
          </thead>
          <tbody>
            {% for i in res %}
            <tr>
              <td>{{ i }}</td>
              <td>{{'{:.2f}'.format(res[i])}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}