<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>{% block title %}{% endblock %}Track Recommender</title>
</head>

<body class="h-100">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-10 col-lg-7">
                <div class="row justify-content-center align-items-center">
                    <a href="/">
                        <h1 class="text-dark">🎓 TA Track Recommender&nbsp;</h1>
                    </a>
                    <h6><span class="badge badge-secondary">Alpha</span></h6>

                </div>
                <p class="description text-center font-weight-light">a prototype of a recommender system based on how "enjoy" a student learn a topic.
                <br> Please
                    make sure you fill <a href="https://forms.gle/P37zGgKJgKocBVZy5" class="font-weight-normal"target="_blank">this form</a>
                    before checking your NIM.
                </p>
                {% block content %}
                {% endblock %}
                <div class="row justify-content-center align-items-center my-3">
                    <a href="/how" class="mx-2"><p>⚙How</p></a>
                    <a href="/why" class="mx-2"><p>❓Why</p></a>
                    <a href="https://forms.gle/CND4BW6KswTD5SzVA" class="mx-2"><p>✅Feedback</p></a>
                </div>
                <div class="row justify-content-center align-items-center">
                    <p class="copyright ">made with ❤ by <a href="http://himaif.bstage.me/">AKD HIMA IF 2020</a>.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- SCRIPS -->
    <!-- JQUERY, POPPER.JS, BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- CUSTOM SCRIPS -->
    {% block scripts %}
    {% endblock %}
</body>

</html>